<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
   
  </div>
  <div class="container-fluid mt--7">
      
    <div style="text-align: center; margin: 20px;">   
        <a href="#!" class="btn btn-sm btn-primary" style="margin-left: 10px;" routerLinkActive="active" [routerLink]="['/add-vendor']">Add Vendor</a>    
        <a href="#!" class="btn btn-sm btn-primary" style="margin-left: 10px;" routerLinkActive="active" [routerLink]="['/purchase-bill-list']">View Purchase Bills</a>    
  </div>
  