<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
 
</div>

<div class="spinner"  *ngIf="loading">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div class="container-fluid mt--7">


<div class="row" *ngIf="!loading">
  <div class="col">
    <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
            
              <h3 class="mb-0"></h3>
            </div>
            <form class="navbar-search navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto">
              <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input class="form-control" placeholder="Search" [(ngModel)]="searchText"  type="text" (focus)="focus = true"
                  (blur)="focus = false">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="table-responsive">

          <table class="table align-items-center table-flush">
            <thead class="thead-light">
                
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">Rights</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                 <!-- User table -->
          
            <tr *ngFor="let user of userList | filter:searchText" >
                <th scope="row">
                    <i class="fa fa-edit"></i>
                </th>
                <th scope="row">
                    {{user.user_name}}
                </th>
                <td>
                  {{user.user_email}}
                </td>
                <td>
                    {{user.user_mobile}}
                </td>
                <td>
                    {{user.user_address}}
                </td>
                <td>
                    <div>
                        <a href="#!" class="btn btn-sm btn-primary">Edit Right</a>
                      </div>
                    
                </td>
                <td>
                    <div>
                    

                        <a href="#!" class="btn btn-sm btn-primary" routerLinkActive="active" (click)="viewDetails(user)">View Details</a>
                      </div>
                    
                </td>
              </tr>
            </tbody>
          </table>
        </div>

       
      </div>
    </div>
  
  </div>
  <div style="text-align: center; margin: 20px;" *ngIf="!loading">
    
        <a href="#!" class="btn btn-sm btn-primary btn" style="margin-right: 10px;">Pay Salary</a>
      
        <a href="#!" class="btn btn-sm btn-primary" style="margin-left: 10px;" routerLinkActive="active" [routerLink]="['/add-user']">Add User</a>
        <a href="#!" class="btn btn-sm btn-primary" style="margin-left: 10px;" routerLinkActive="active" [routerLink]="['/add-vendor']">Add Vendor</a>
  </div>
  
</div>

  
