<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
   
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center">
              <h3>
                {{userDetails.user_name}}<span class="font-weight-light">, 27</span>
              </h3>
              <!-- <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Texes, US
              </div> -->
              <!-- <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
              </div> -->
              <!-- <div>
                <i class="ni education_hat mr-2"></i>University of Computer Science
              </div> -->
             
            </div>
          </div>


          <div class="card-body pt-0">
            <div class="text-center">
              <h4>
                General information
              </h4>
            </div>

            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 list-font">Salary</h6>
                </div>
                <span class="text-muted">12000</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 list-font">Joining date</h6>
                </div>
                <span class="text-muted">{{userDetails.user_joining_date}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 list-font">Phone number</h6>
                </div>
                <span class="text-muted">{{userDetails.user_mobile}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 list-font">Email Address</h6>
                </div>
                <span class="text-muted">{{userDetails.user_email}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 list-font">Address</h6>
                </div>
                <span class="text-muted">{{userDetails.user_address}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 list-font">Allowed Holiday</h6>
                </div>
                <span class="text-muted">3 days</span>
              </li>
            </ul>
            
          </div>


        </div>
      </div>


    <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
    <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0"></h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
         

          <table class="table align-items-center table-flush">
            <thead class="thead-light">
                
              <tr>
                <th scope="col">No</th>
                <th scope="col">Date Salary</th>
                <th scope="col">Payment mode</th>
                <th scope="col">salary month</th>
                <th scope="col">Extra holidays</th>
                <th scope="col">Paid amount</th>
                <th scope="col">Adjusted Amount</th>
                <th scope="col">Note</th>

              </tr>
            </thead>
            <tbody>
                 <!-- User table -->
           
            <tr>
                <td>
                  1
                </td>
                <td>
                   31/1/2023
                </td>
                <td>
                  Bank transfer
                </td>
                <td>
                    Jan
                </td>
                <td>
                    1
                </td>
                <td>
                    12000
                    
                </td>
                <td>
                 200 
              </td>
                <td>
                  Note
                </td>
              </tr>


              <tr>
                <td>
                  1
                </td>
                <td>
                   302/2023
                </td>
                <td>
                  Bank transfer
                </td>
                <td>
                    Feb
                </td>
                <td>
                    1
                </td>
                <td>
                    12000
                    
                </td>
                <td>
                 200 
              </td>
                <td>
                  Note
                </td>
              </tr>
              <tr>
                <td>
                  1
                </td>
                <td>
                   31/3/2023
                </td>
                <td>
                  Bank transfer
                </td>
                <td>
                    March
                </td>
                <td>
                    1
                </td>
                <td>
                    12000
                    
                </td>
                <td>
                 200 
              </td>
                <td>
                  Note
                </td>
              </tr>
            </tbody>
          </table>
        </div>

       
      </div>
    </div>
    </div>
  </div>
  