<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
   
  </div>
  <div class="container-fluid mt--7">
      
  <div class="row">
    <div class="col">
      <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0"></h3>
              </div>
              <div class="btn btn-sm btn-primary">
                  <i class="ni ni-align-center"></i>
                  <a href="#!" style="color: #fff;">Filter</a>
              </div>
              <div class="btn btn-sm btn-primary">
                <i class="ni ni-cloud-upload-96"></i>
  
                <a href="#!" style="color: #fff;">Import</a>
              </div>
              <div class="btn btn-sm btn-primary">
                <i class="ni ni-cloud-download-95"></i>
                
                <a href="#!" style="color: #fff;">Export</a>
              </div>
            </div>
          </div>
  
          <div class="table-responsive">
           
  
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                  
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Brand</th>
                  <th scope="col">Category</th>
                  <th scope="col">Gross Price</th>
                  <th scope="col">Net Price</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                   <!-- User table -->
             
              <tr *ngFor="let user of userList" >
                  <th scope="row">
                      <i class="fa fa-edit"></i>
                  </th>
                  <th scope="row">
                      {{user.name}}
                  </th>
                  <td>
                    {{user.userName}}
                  </td>
                  <td>
                      {{user.email}}
                  </td>
                  <td>
                      {{user.role}}
                  </td>
                  
                  <td>
                    <div class="col text-right">
                          <a href="#!" class="btn btn-sm btn-primary" routerLinkActive="active" [routerLink]="['/view-user-details']">View Details</a>
                        </div>
                      
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
         
        </div>
      </div>
    
    </div>
    <div style="text-align: center; margin: 20px;">   
          <a href="#!" class="btn btn-sm btn-primary btn" style="margin-right: 10px;" [routerLink]="['/add-product']">Add New Product</a>
        <a href="#!" class="btn btn-sm btn-primary btn" style="margin-right: 10px;" [routerLink]="['/add-category']">Add Category</a>
    <a href="#!" class="btn btn-sm btn-primary btn" style="margin-right: 10px;" [routerLink]="['/add-category-two']">Add Category two</a>
    <a href="#!" class="btn btn-sm btn-primary btn" style="margin-right: 10px;" [routerLink]="['/add-category-three']">Add Category three</a>

    
  </div>
  